.container {
    display: flex;
    border: 2px solid var(--primary-color);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.section-label {
    font-size: 24px;
    font-weight: bold;
    left: 0;
    
}
.task-input-name{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.task-input-name input{
    padding: 20px;
    border: solid 0.5px var(--secondry-color);
    border-radius: 5px;
    font-size: 16px;
}

.task-input-field {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
.target-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
.unit-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.task-input-field input,
.task-input-field select {
    padding: 20px;
    border: solid 0.5px var(--secondry-color);
    border-radius: 5px;
    font-size: 16px;
    height: 60px;
}
select option {
    font-size: 16px;
    padding: 10px;
}

.reward-input-field {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.reward-input-field input,
.reward-input-field select {
    width: calc(50% - 7.5px);
    padding: 10px;
    border: solid 0.5px var(--secondry-color);
    border-radius: 5px;
}

.btn {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100px;
    color: var(--light-text);
    transition: all ease 300ms;
}
.btn:hover{
    background-color: var(--hover-color);
}

.add-reward-btn {
    flex: 1;
    margin-top: auto;
    width: 100%;
    height: 60px;

}

.create-task-btn {
    width: 200px;
    margin-top: auto;
    height: 60px;
    display: block;
    margin: 0 auto;

}

.additional-input {
    display: flex;
    gap: 15px;
    align-items: flex-start; 
    width: 100%;
    margin-bottom: 10px;
}
.additional-input input,
.additional-input textarea {
    padding: 20px;
    border: solid 0.5px var(--secondry-color);
    border-radius: 5px;
    font-size: 16px;
    flex: 1; 
    box-sizing: border-box; 
    height: 100%;
}

.comment-input {
    flex: 1; 
}

.image-input {
    flex: 1; 
}

input[type="file"].image-input {
    border: 2px dotted var(--secondry-color); 
}



@media screen and (max-width:730px) {
    .task-input-field{
        flex-direction: column;
    }
  }

