@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --primary-color:#52b788;
    --accent-color:#95d5b2;
    --opt-color:#1b4332;
    --hover-color:#b7e4c7;
    --secondry-color:#1b4332;
    --light-text: black;
}
.logo-img{
    height: 4rem;
    width: 6rem;
}
.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: max-content;
    min-width: 20%;
    border-right: 1px black solid;
    background-color: var(--primary-color);
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    z-index: 99;
}
.sidebar.open{
    transform: translateX(0%);
}
.side-bar-opt a{
    width: 100%;
    border: 1px grey solid;
    transition: all ease 200ms;
}
.side-bar-opt a:hover{
    background-color: var(--hover-color);
}
.add-tsk{
    width: 80px;
    background-color: var(--primary-color);
    aspect-ratio: 1;
    transition: all ease 300ms;
}
.add-tsk:hover{
    background-color: var(--hover-color);
    color: black;
}
.header{
    background-color: var(--primary-color);
}
.place-holder-stat{
    position: relative;
    height: 60vh;
    margin: 2em 1em;
    border: 2px solid var(--primary-color);
}
.filter{
    position: absolute;
    bottom: 0;
    right: 0;
    outline: solid 1px var(--primary-color);
    background-color: var(--primary-color);
}
.filter:hover{
    background-color: var(--hover-color);
}
.progress-form{
    margin: 2em auto;
    background-color: azure;
    min-width: 30%;
    display: grid;
    gap: 5px;
}
.progress-form input{
    background-color: var(--accent-color);
    color: #000000;
    padding: 0.5em;

}
.progress-form button{
    padding: 0.25em 0.5em;
    background-color: var(--primary-color);
    transition: all ease 300ms;
}
.progress-form button:hover{
    background-color: var(--hover-color);
}
.rewardProg{
    display: grid;
    place-items: center;
    border: 2px solid var(--primary-color);
    height: 60vh;
    min-width: max-content;
    background-color: var(--accent-color);
}
.reward{
    display: grid;
    place-items: center;
    justify-content: center;
    grid-auto-flow: column;
    gap: 1em;
}
.reward-check{
    width: 2em;
    aspect-ratio: 1;
    background-color: #dcdcdc;
    border-radius: 100vw;
}
.reward h1{
    font-size: 1em;
}
.rewardProg a{
 color: var(--opt-color);
}
.ftr{
    background-color: var(--primary-color);
}
